<!DOCTYPE html>
<html lang="en">
<head>
  
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 
    <title>Mpg prediction</title>
</head>
<body>
  <center>
    <br><br>
    <h1 class="card-subtitle mb-2 text-muted">Hello , We will help you predicting the mileage of your car</h1>
    <br>
    <hr /><br>
    <div class="card" style="width: 38rem;">
      <div class="card-body">
        <h5>Please Enter the following details</h5>
    <form action="PredictMPG" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
      
        <div style="text-align: center;">
            <div class="form-group mx-sm-3 mb-2">
              <label for='cylinders'>Cylinders : </label>
              <input type="text" name="cylinders" placeholder="Total no. of cylinders" >
              
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="displacement">Displacement : </label>
              <input type="text"  name="displacement" placeholder="Displacement by car">
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="horsepower">Horsepower : </label>
                <input type="text"   name="horsepower" placeholder="Horsepower of the car" >
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="weight">Weight : </label>
                <input type="text" name="weight" placeholder="Total weight of the car" >
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="acceleration">Acceleration : </label>
                <input type="text"  name="acceleration" placeholder="Acceleration of the car" >
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="model">Model : </label>
                <input type="text"  name="model" placeholder="Model no. of car" >
              </div>
           
            <input type="submit" class="btn btn-primary">
        </div>
      
    </form>
  </div>
</div>
</center>
<br><br>


     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>

</html>